@import "tailwindcss";

@theme {
  /* Al quitarle el prefijo "-bg", las clases quedan ultra intuitivas */
  --color-tokyo-main: #1a1b26;      /* bg-tokyo-main (Fondo de paneles) */
  --color-tokyo-dark: #16161e;      /* bg-tokyo-dark (Fondo de la app / pool) */
  --color-tokyo-panel: #24283b;     /* bg-tokyo-panel o border-tokyo-panel */
  
  /* Para los colores de acento, el nombre del color es más que suficiente */
  --color-tokyo-border: #414868;    /* border-tokyo-border */
  --color-tokyo-comment: #565f89;   /* text-tokyo-comment */
  --color-tokyo-cyan: #41a6b5;      /* text-tokyo-cyan */
  --color-tokyo-purple: #bb9af7;    /* text-tokyo-purple */
  --color-tokyo-orange: #e0af68;    /* text-tokyo-orange */
}



@layer base {
  ::-webkit-scrollbar {
    width: 8px;               /* Ancho del scroll vertical */
    height: 8px;              /* Alto del scroll horizontal */
  }
  
  /* El canal o fondo por donde se mueve la barra */
  ::-webkit-scrollbar-track {
    background: var(--color-tokyo-dark);
    border-radius: 4px;
  }
  
  /* El indicador/tirador que arrastras */
  ::-webkit-scrollbar-thumb {
    background: var(--color-tokyo-panel);
    border: 1px solid var(--color-tokyo-border);
    border-radius: 4px;
  }
  
  /* Cuando pasas el mouse por encima del tirador (Efecto Neon Tokyo) */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-tokyo-comment);
    border-color: var(--color-tokyo-purple);
  }
}